.avatar {
  flex-direction: column;
  grid-area: avatar;
  display: flex;
  align-items: center;
}

.avatarName {
  font-size: 0.8rem;
  margin: 1em 0;
  flex: 1;
  text-align: right;
}

.avatar input {
  width: 88%;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid #bdc3c7;
  outline: none;
  font: 300 12px "Roboto", sans-serif;
  padding: 5px;
  padding-left: 20px;
}